
<div  class=" product border  border-primary   ">
    <a href="#" [routerLink]="['/products',product.id]">
     <img [src]="product.path" [alt]="product.Name" >
     <div class="product-name"><a href="#">{{product.Name}}</a></div>
   </a>
     <div class="product-price">{{product.Price.toFixed(2) + " tl" }}</div>
     <div class="quantity-bar d-flex justify-content-between align-items-center mt-2 ">
       <button (click)="decraseAmount(product)" class="btn btn-sm btn-danger">-</button>
      
       <input type="number" [(ngModel)]="product.quantity" (ngModelChange)="updateBasket(product)" >
       <button (click)="increaseAmount(product)" class="btn btn-sm btn-warning">+</button>
     </div>
   </div>

  